<template>
  <div class="home">

    <h1>Available devices</h1>

    <p v-if="loading">
      Loading devices...
    </p>

    <div class="devices_wrapper" v-else-if="$store.state.devices.length > 0">

      <router-link
        class="device"
        v-for="device in $store.state.devices"
        v-bind:key="device.id"
        :to="{ name: 'device', params: {id: device.id} }">

        <img src="@/assets/yt260.jpg" alt="">

        <div class="device_data">
          <span class="device_name">pantilt{{device.id}}</span>
          <span class="" >Firmware version: {{device.firmware_version || '0.7.1'}}</span>
        </div>



      </router-link>

    </div>

    <p v-else>
      No devices available
    </p>





  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {

  },
  data(){
    return {
      devices: [],
      loading: false,
    }
  },
  mounted(){
    this.get_available_devices()
  },

  methods: {
    get_available_devices(){

      // could think of emiting to server in order to request list of devices
      // and then have a list of devices sent

      this.loading = true
      const url = `${process.env.VUE_APP_API_URL}/devices`
      this.axios.get(url)
      .then((response) => {

        /*
        this.devices = []
        response.data.forEach((device) => {
          this.devices.push(device)
        });
        */

        this.$store.commit('delete_and_create_devices', response.data)

      })
      .catch((error) => {
        console.error(error)
        alert('Could not get device list')
      })
      .finally(() => {
        this.loading = false
      })
    },
  },


}
</script>

<style>

.devices_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.device {
  display: block;
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #666666;
  border-radius: 0.5em;
  color: currentcolor;
  text-decoration: none;
  transition: 0.25s;

  display: flex;
  align-items: center;
  width: 300px;
}

.device:hover{
  color: #c00000;
  border-color: #c00000;
}

.device img {
  height: 3em;
  margin-right: 1.5em;
}

.device_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.device_data > *:not(:last-child){
  margin-bottom: 0.25em;
}

.device_name {
  font-weight: bold;
}
</style>
